// Navigation code here

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: @nav-bg;

    h1 {
        font-family: @nav-font;
        font-size: 4rem;
        margin: 10px 0;
        color: @header-font-color;
        border: @nav-border;
    }

    .navbar {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 10px 0;

        a {
            text-decoration: none;
            font-size: 1.5rem;
            color: @header-font-color;
        }
    }
}